body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
    display: flex;
    flex-wrap: nowrap;
    position: static;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    height: auto;
    width: 98%;
    padding: 15px;
    background-color: rgb(139, 179, 219);
}


/* .base {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    height: auto;
    width: 100%;
    padding: 15px;
} */


/* forn-size all */

input[type="text"] {
    margin: 0% 10% 0% 10%;
    width: 70%;
}

a {
    float: right;
}

.btn {
    width: 80%;
    margin-left: 10%;
}

.addBtn {
    background-color: rgb(42, 179, 99);
    margin-left: 10%;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    width: 100%;
}

.header .left-aligned {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
    justify-self: flex-start;
}

.header .right-aligned {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    justify-self: flex-start;
}

.header .logo {
    background-color: rgba(255, 255, 255, 0.3);
    justify-self: center;
}

.header .right-aligned {
    justify-self: flex-end;
}

.board {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: max-content auto;
}

.board-header {
    color: cornsilk;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.board-header-text {
    font-weight: bold;
    padding: 5px;
}

.board-header .left {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 10px;
    justify-self: left;
}

.board-header .right {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 10px;
    justify-self: right;
}

.button {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: none;
}

.board-lists {
    display: grid;
    grid-auto-columns: 272px;
    grid-auto-flow: column;
    grid-gap: 8px;
    overflow: auto;
    ;
}

.board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    height: max-content;
    padding: 10px;
    float: left;
    text-align: center;
}